:root {
  font-family: 'Manrope', 'Anton', sans-serif;
  font-weight: 400;
  --primary-color:  #FFD15B;
  --secondary-color: #1B1B1B;
  --black-color: black;
  --white-color: white;
  --fadedtext-color: #7A7A7A;
  --bg-color: #EDEDED;
}


/** Header style **/
/* Header avec largeur de 1440px et hauteur de 667px */
header {
  position: relative;
  width: 1440px;
  height: 667px;
  margin: 0 auto; 
  overflow-x: hidden; /* Empêche le débordement horizontal */
  overflow-y: hidden; /* Empêche l'image de déborder en hauteur */
}

/* L'image d'en-tête (imgHeader) occupe toute la largeur de l'écran sans compter la barre de défilement */
.imgHeader {
  width: 100vw; /* Occupe 100% de la largeur de l'écran */
  max-width: 100%; /* Empêche de dépasser la largeur visible */
  height: 100%; /* Limite la hauteur à celle du header */
  object-fit: cover; /* Assure que l'image reste bien cadrée */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* L'image est derrière tous les autres éléments */
}

/* Positionnement fixe du logo en haut à gauche du header */
.logo {
  position: absolute;
  top: 20px; /* Distance par rapport au haut du header */
  left: 20px; /* Distance par rapport à la gauche du header */
  width: 200px; /* Taille initiale du logo */
  z-index: 1; /* Le logo doit être au-dessus de l'image */
  display: block; /* S'assurer que le logo est un bloc pour bien gérer sa taille */
}


/* Hero styles */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  
  color: var(--primary-color);
  padding: 0 20px;
}

.hero h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}


/* Barre de recherche */
.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 954px;
  margin-top: 20px;
}

.search-container input {
  width: 80%;
  max-width: 900px;
  height: 50px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: var(--secondary-color);
  background-color: var(--white-color);
}

.search-container input:focus {
  outline: none;
  border-color: var(--primary-color);
}

/* Bouton de recherche */
.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.search-button img {
  width: 24px;
  height: 24px;
}

.search-button:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
} 


/** Filter style**/
.filters {
  background-color: var(--bg-color);
  margin: auto;
}

/* DropDown styles */
.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 1rem;
top: 1rem;
left: 1rem;
padding: 17px 16px 17px 16px;
gap: 63px;
border-radius: 10px;
background-color: var(--white-color);

}

.dropdown-label {
  cursor: pointer;
  font-weight: bold;
}

.dropdown-input {
  display: none;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown-list li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}


.tag {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 150px;

  margin-left: 10px;
  margin-top:2rem ;
  font-size: 1rem;
  font-family: 'Manrope';
  padding: 1rem;
}

.recipe-count {
  font-size: 16px;
  font-weight: bold;
}


/** Card styles **/
/** Main recipes container **/
.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
  gap: 40px; /* Espace entre les colonnes */
  max-width: 1440px; /* Limite maximale de la largeur du conteneur */
  margin: 0 auto; /* Centrer le conteneur sur l'écran */
  padding: 20px; /* Un peu d'espace autour des cartes */
  background-color: var(--bg-color);
}

/* Media query pour 1040px : 2 colonnes */
@media (max-width: 1040px) {
  .recipes {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes à ce point */
    gap: 30px; /* Diminution de l'espace entre les colonnes */
  }
}

/* Media query pour 740px : 1 colonne */
@media (max-width: 740px) {
  .recipes {
    grid-template-columns: 1fr; /* 1 colonne pour les petits écrans */
    gap: 20px; /* Moins d'espace entre les cartes */
  }
}

/* Card styles */
.recipe-card {
  border: none;
  box-shadow: 0px 4px 34px 30px #0000000A;
  border-radius: 20px;
  height: 730px;
  width: 100%; /* Prend toute la largeur de la colonne */
  max-width: 380px; /* Mais ne dépasse pas 380px pour garder des cartes équilibrées */
  margin: 0 auto; /* Centrer la carte dans sa colonne */
  background-color: var(--white-color);
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.recipe-time {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--primary-color);
  color:var(--secondary-color);
  font-family: 'Manrope';
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 14px;
}

.recipe-title {
  font-family: 'Anton', sans-serif;
  color: var(--black-color);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 25px;
  margin-right: 25px;
}

.recipe-subtitle {
  font-family: 'Manrope';
  font-weight: 700;
  color: var(--fadedtext-color);
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
  text-transform: lowercase;
  font-variant: petite-caps;

}

.recipe-description {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9rem;
  text-align: left;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
  margin-left: 25px;
  margin-right: 25px;

  /* Limiter la description à 4 lignes */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.ingredients-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de même largeur */
  grid-gap: 20px; /* Espace entre les colonnes */
  margin-left: 25px;
  margin-right: 25px;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: contents; /* Utiliser display: contents pour que les li soient gérés directement par le grid */
}

.ingredients-list li {
  display: flex;
  flex-direction: column;
}

.ingredient-name {
  font-family: 'Manrope';
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-color); /* Couleur de l'ingrédient */
}

.ingredient-quantity {
  font-family: 'Manrope';
  font-weight: 400;
  color: var(--fadedtext-color); /* Couleur de la quantité */

}

